*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#009688, #009688 17%, #DBDBD3 , #DBDBD3 17%);
}
input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
li{
  list-style: none;
  border-top: 2px solid #F5F5F5;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.img_top{
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
  border: 1px solid #DDCFB7;
  cursor: pointer;
}
.message{
  background: white;
  width: 45%;
  height: auto;
  border-radius: 7px;
  margin-bottom: 7px;
  padding: 8px;
  font-size: 14px;
}

.window{
  background: white;
  width: 80%;
  height: 93%;
}
/*_____________________________________________________________________________________________________________*/
.window_left{
  background: white;
  width: 35%;
  height: 100%;
  float: left;
}

.header_left{
  height: 25%;
}

.header_top{
  background: #EAEAEA;
  height: 40%;
  width: 100%;
  padding: 7px;
}
.top_img_left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 100%;
  float: left;
}
.top_username_left{
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  float: left;
}
.top_username_left span{
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}
.top_tools_left{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 27%;
  height: 100%;
  float: left;
}
.top_tools_left i,
.top_tools_right i{
  color: #B1B1B1;
  margin-right: 15px;
  font-size: 20px;
}

.header_bottom{
  background: #8EDAFC;
  display: flex;
  align-items: center;
  height: 40%;
  width: 100%;
  padding-left: 20px;
}
.notification_img{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50px;
}
.notification_img i{
  font-size: 18px;
  background: white;
  color: #8EDAFC;
}
.notification{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
}
.notification span{
  display: inline-block;
  font-size: 16px;
}
.notification a{
  display: inline-block;
  color: #6974A4;
  font-size: 13px;
}

.header_input{
  background: #FAFAFA;
  height: 20%;
  width: 100%;
  padding: 6px;
}
.search{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 20%;
  height: 100%;
  border: 1px solid #E9EBEB;
}
.search a{
  text-decoration: none;
  padding: 0 20px;
}
.search i{
  display: block;
  font-size: 10px;
  color: #B1B1B1;
}

.input_chat{
  background-color: white;
  display: flex;
  align-items: center;
  float: left;
  width: 80%;
  height: 100%;
  border: 1px solid #E9EBEB;
  border-left: none;
}
.input_chat input{
  background: none;
  width: 100%;
  height: 100%;
  border: 0px;
  margin-left: 5px;
  font-size: 10px;
}


.main_left{
  overflow-y: scroll;
  height: calc(100% - 25%);
}
.active{
  background: #E9EBEB;
}
.img_contact{
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  float: left;
  padding: 10px 20px;
}
.img_contact img{
  border: none;
  width: 50px;
  height: 50px;
}
.name_contact{
  width: calc(100% - 70px);
  height: 70px;
  float: left;
  padding: 10px 20px;
}
/*_____________________________________________________________________________________________________________*/

.window_right{
  background-image: url('../img/boolzapp.jpg');
  background-repeat: repeat;
  background-size: contain;
  border-left: 2px solid #D6D6D6;
  width: 65%;
  height: 100%;
  float: left;
  z-index: 1;
}

.header_right{
  background: #EAEAEA;
  z-index: 2;
  height: 10%;
  width: 100%;
  padding: 7px;
}

.top_img_right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5%;
  height: 100%;
  float: left;
}

.top_username_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 62.5%;
  height: 100%;
  float: left;
}
.top_username_right span{
  display: inline-block;
  margin-left: 10px;
}
.top_username_right span:first-child{
  font-size: 16px;
  margin-bottom: 2px;
}
.top_username_right span:last-child{
  font-size: 13px;
  color: gray;
}

.top_tools_right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  float: left;
}

.main_right{
  background-color: rgba(213, 195, 166, 0.8);
  height: calc(100% - 18%);
  overflow-y: scroll;
  padding: 8% 10% 3%;
}

.chat_message{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.other_message{
}
.my_message{
  background: #D5F9BA;
  align-self: flex-end;
}

.footer_right{
  background: #EAEAEA;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 8%;
  width: 100%;
}
.footer_right i{
  display: block;
  color: #6B7376;
  padding: 10px 0;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
}

.emoticon_footer{
  width: 12%;
  float: left;
}
.input_footer{
  background: white;
  display: flex;
  align-items: center;
  width: 76%;
  height: 70%;
  float: left;
  border-radius: 5px;
  overflow: hidden;
}
.input_footer input{
  border: none;
  width: 100%;
  height: 100%;
  margin-left: 15px;
}
.voice_footer{
  width: 12%;
  float: left;
}


/* Queries */
@media screen and (min-width: 1370px){
  .img_top{
    width: 65px;
    height: 65px;
  }

  .notification_img{
    width: 61px;
    height: 61px;
  }
  .notification_img i{
    font-size: 25px;
  }

  .notification span{
    font-size: 17px;
  }
  .notification a{
    font-size: 14px;
  }

  .search a{
    padding: 8px 40px;
  }
  .search i{
    font-size: 15px;
  }

  .input_chat input{
    font-size: 15px;
  }

  .footer_right i{
    font-size: 30px;
  }

  .input_footer input{
    font-size: 17px;
  }

}
