<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- ms_CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- JQueryCDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- handlebarsCDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.js" integrity="sha512-MQkEjxbZvzs4TX8ES4/tTIyaYdtDlJzVocnPo0GoysTR0jCmNg0P2is7uqpCoWxmoS9X84CDVzuWgZD/R/Q2oQ==" crossorigin="anonymous"></script>
    <!-- vueCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolzApp | Vue</title>
  </head>
  <body>

    <section id="app" class="window clearfix">
      <div class="window_left">

        <div class="header_left">

          <div class="header_top clearfix">
            <div class="top_img_left">
              <img class="img_top" src="img/avatar_1.png" alt="Avatar">
            </div>

            <div class="top_username_left">
              <span>Marian Corlade</span>
            </div>

            <div class="top_tools_left">
              <a href="#"><i class="fas fa-circle-notch"></i></a>
              <a href="#"><i class="fas fa-comment-alt"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="header_bottom">
            <div class="notification_img">
              <a href="#">
                <i class="fas fa-bell-slash"></i>
              </a>
            </div>

            <div class="notification">
              <span>Ricevi notifiche di nuovi messaggi</span>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>

          <div class="header_input clearfix">
            <div class="search">
              <a href="#"><i class="fas fa-search"></i></a>
            </div>

            <div class="input_chat">
              <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>
        </div>

        <div class="main_left">
          <ul>
            <li @click="selectContact(key)" v-for="key in contacts" class="clearfix">
              <div class="img_contact">
                <img class="img_top" :src="key.avatar" alt="Avatar">
              </div>

              <div class="name_contact">
                <span>{{key.name}}</span>
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="window_right">

        <div class="header_right clearfix">

          <div class="top_img_right">
            <img class="img_top" src="img/avatar_2.png" alt="Avatar">
          </div>

          <div class="top_username_right">
            <span>Michele</span>
            <span>Ultimo accesso oggi 10/01/2020 alle 16:15:22</span>
          </div>

          <div class="top_tools_right">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>

        <div class="main_right clearfix">

          <div v-for="(message) in chat.messages" class="chat_message">
              <p v-if="message.status === 'sent'" class="message my_message">{{message.text}}</p>
              <p v-else class="message other_message">{{message.text}}</p>
          </div>

        </div>

        <div class="footer_right clearfix">

          <div class="emoticon_footer">
            <span><i class="far fa-smile"></i></span>
          </div>

          <div class="input_footer">
            <input v-model="myNewMessage" @keyup.enter="addMyMessage" type="text" name="" value="" placeholder="Scrivi un messaggio">
          </div>

          <div class="voice_footer">
            <span><i class="fas fa-microphone"></i></span>
          </div>

        </div>
      </div>
    </section>


    <!-- codice js esterno -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
